.icon-lock {
  background-image: url("img/seriesLock.png");
}
.icon-wwwc {
  background-image: url("img/wwwcMouse.png");
}
.icon-wwwl {
  background-image: url("img/wwwl.png");
}
.icon-zoom {
  background-image: url("img/zoom1.png");
}
.icon-wwwchand {
  background-image: url("img/wwwcHand.png");
}
.icon-paging {
  background-image: url("img/pagingMouse.png");
}
.icon-wwwc2 {
  background-image: url("img/wwwc.png");
}
.icon-drag {
  background-image: url("img/drag.png");
}
.icon-cw {
  background-image: url("img/cw.png");
}
.icon-ccw {
  background-image: url("img/ccw.png");
}
.icon-rotateR {
  background-image: url("img/rotater.png");
}
.icon-rotateL {
  background-image: url("img/rotatel.png");
}
.icon-download {
  background-image: url("img/download.png");
}
.icon-map {
  background-image: url("img/map.png");
}
.icon-mapInner {
  background-image: url("img/mapInner.png");
}
.icon-fakecolor {
  background-image: url("img/fakecolor.png");
}
.icon-inv {
  background-image: url("img/inv.png");
}
.icon-refresh {
  background-image: url("img/refresh3.png");
}
.icon-pos {
  background-image: url("img/posLine.png");
}
.icon-zoomIn {
  background-image: url("img/zoomin.png");
}
.icon-zoomOut {
  background-image: url("img/zoomout.png");
}
.icon-glass {
  background-image: url("img/zoom.png");
}
.icon-scrollSync {
  background-image: url("img/scrollSync.png");
}
.icon-hRev {
  background-image: url("img/hRev.png");
}
.icon-vRev {
  background-image: url("img/vRev.png");
}
.icon-rulerR {
  background-image: url("img/ruler.png");
}
.icon-ct {
  background-image: url("img/ct.png");
}
.icon-eye {
  background-image: url("img/eye.png");
}
.icon-eye2 {
  background-image: url("img/eye2.png");
}
.icon-cancel {
  background-image: url("img/back.png");
}
.icon-pen {
  background-image: url("img/pen.png");
}
.icon-rect {
  background-image: url("img/rect.png");
}
.icon-angle {
  background-image: url("img/angle.png");
}
.icon-text {
  background-image: url("img/text.png");
}
.icon-line {
  background-image: url("img/line.png");
}
.icon-help {
  background-image: url("img/help.png");
}
.icon-left {
  background-image: url("img/left.png");
}
.icon-right {
  background-image: url("img/right.png");
}
.icon-img {
  background-image: url("img/img.png");
}
.icon-menu {
  background-image: url("img/menu.png");
}
.icon-ipacs {
  background-image: url("img/ipacs.png");
}
.icon-ipacsBlue {
  background-image: url("img/ipacsBlue.png");
}
.icon-mpr {
  background-image: url("img/mpr.png");
}
.icon-change {
  background-image: url("img/change.png");
}
.icon-close {
  background-image: url("img/close.png");
}
.icon-fwwwl1 {
  background-image: url("img/fwwwl1-1.png");
}
.icon-fwwwl2 {
  background-image: url("img/fwwwl2.png");
}
.icon-fwwwl3 {
  background-image: url("img/fwwwl3.png");
}
.icon-fwwwl4 {
  background-image: url("img/fwwwl4.png");
}
.icon-fwwwl5 {
  background-image: url("img/fwwwl5-1.png");
}
.icon-fullScreen {
  background-image: url("img/fullScreen.png");
}
.icon-mouse {
  background-image: url("img/mouse.png");
}
.icon-mouseL {
  background-image: url("img/mouseL.png");
}
.icon-mouseR {
  background-image: url("img/mouseR.png");
}
.icon-mouseLR {
  background-image: url("img/mouseLR.png");
}
.icon-clear {
  background-image: url("img/clear.png");
}
.icon-font {
  background-image: url("img/font.png");
}
.icon-pagingCircle {
  background-image: url("img/pagingCircle.png");
}
.icon-pointer {
  background-image: url("img/pointer.png");
}
