* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  height: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", "Luxi Sans", "Microsoft JhengHei", "华文细黑", STHeiti, MingLiu;
  color: white;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
#unitMask {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#unitLayoutSelector,
#unitInnerLayoutSelector {
  position: absolute;
  box-sizing: content-box;
  border: 1px solid #5A5A5A;
  padding: 1px;
  background-color: #5A5A5A;
  z-index: 10000;
}
#unitLayoutSelector .urow,
#unitInnerLayoutSelector .urow {
  margin-left: 0;
  width: 100%;
  margin-right: 0;
}
#unitLayoutSelector .urow:after,
#unitInnerLayoutSelector .urow:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#unitLayoutSelector .ucol,
#unitInnerLayoutSelector .ucol {
  float: left;
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: #828282;
  box-sizing: border-box;
  border: 1px solid transparent;
}
#unitLayoutSelector .ucol.lighten,
#unitInnerLayoutSelector .ucol.lighten {
  border: 1px solid white;
  background-color: #B4B4B4;
}
#quickWWWLBox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  z-index: 10000;
  width: 360px;
  height: 400px;
  padding: 0 5px 10px;
  background-color: #E9E7E2;
  font-size: 14px;
}
#quickWWWLBox .topbar {
  height: 30px;
}
#quickWWWLBox .topbar .closeBtn {
  font-size: 14px;
  position: absolute;
  background-color: #FF7D6F;
  color: white;
  top: -2px;
  right: 10px;
  padding: 2px 5px;
}
#quickWWWLBox .calBox {
  background-color: #4D4D4D;
  height: 40px;
  padding: 8px 10px;
}
#quickWWWLBox .calBox .inputArea,
#quickWWWLBox .calBox .yes {
  display: inline-block;
}
#quickWWWLBox .calBox .inputArea {
  width: 120px;
}
#quickWWWLBox .calBox .inputArea input {
  display: inline-block;
  color: black;
  height: 24px;
  padding-left: 8px;
  background-color: #e9e7e2;
  border: 0;
  width: 60px;
}
#quickWWWLBox .calBox .yes {
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  background-color: #918b87;
  margin-right: 5px;
  width: 45px;
  color: #e9e7e2;
}
#quickWWWLBox .calBox .yes:hover {
  background-color: #77726e;
}
#quickWWWLBox .ceilBox {
  padding: 5px;
  height: 300px;
  position: relative;
  background-color: #3F3F3F;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #888888;
}
#quickWWWLBox .ceilBox::-webkit-scrollbar {
  /*滚动条，这里不倒腾用户体验了，暂时在满足webkit，这里主要是想节约空间，其实大可不必通过滚动条*/
  width: 8px;
  height: 8px;
}
#quickWWWLBox .ceilBox::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 4px;
}
#quickWWWLBox .ceilBox::-webkit-scrollbar-track {
  background: #424242;
  width: 8px;
}
#quickWWWLBox .ceilBox::-webkit-scrollbar-button {
  background-color: #424242;
  height: 4px;
}
#quickWWWLBox .ceilBox .aCeil {
  background-color: #E9E7E2;
  padding: 6px 10px;
  cursor: pointer;
  margin: 8px;
  text-align: center;
  display: block;
  float: left;
}
#quickWWWLBox .ceilBox .aCeil:hover {
  background-color: #bdb7a8;
  color: black;
}
.processingBox {
  box-sizing: border-box;
  width: 100%;
  border-right: 8px solid #888888 ;
  margin: 0 auto;
  position: relative;
  padding-left: 5px;
}
.processingBox .progress {
  margin-bottom: 0;
}
.processingBox .hidebtn {
  font-size: 12px;
  border-radius: 3px;
  line-height: 16px;
  cursor: pointer;
  position: absolute;
  background-color: #FF7D6F;
  color: white;
  top: 2px;
  right: 0px;
  padding: 1px 3px;
}
.processingBox .loadingTxt {
  font-size: 12px;
}
.processingBox .failed {
  font-size: 12px;
  display: inline-block;
}
.processingBox .failed .tryAgain {
  color: #00aaff;
  cursor: pointer;
}
.playSpeedSetBtn {
  position: absolute;
  z-index: 7000;
  width: 40px;
  height: 40px;
  top: 15px;
  right: 15px;
}
.playSpeedSetBtn span {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  font-size: 32px;
}
.playSpeedSetBtn:active {
  background-color: #333333;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=(@opacity * 100))";
  filter: "alpha(opacity = (@opacity * 100))";
}
#playSpeedSet {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  z-index: 11000;
  width: 300px;
  height: 40px;
  background-color: #0b97c4;
  padding-left: 10px;
  padding-top: 10px;
}
#playSpeedSet .rangeBar,
#playSpeedSet span {
  display: inline-block;
}
#playSpeedSet span {
  text-align: center;
  width: 30px;
  font-size: 14px;
}
#playSpeedSet .rangeBar {
  width: 200px;
}
.icon-lock {
  background-image: url("img/seriesLock.png");
}
.icon-wwwc {
  background-image: url("img/wwwcMouse.png");
}
.icon-wwwl {
  background-image: url("img/wwwl.png");
}
.icon-valCursor {
  background-image: url("img/value_cursor.png");
}
.icon-zoom {
  background-image: url("img/zoom1.png");
}
.icon-wwwchand {
  background-image: url("img/wwwcHand.png");
}
.icon-paging {
  background-image: url("img/pagingMouse.png");
}
.icon-wwwc2 {
  background-image: url("img/wwwc.png");
}
.icon-drag {
  background-image: url("img/drag.png");
}
.icon-cw {
  background-image: url("img/cw.png");
}
.icon-ccw {
  background-image: url("img/ccw.png");
}
.icon-download {
  background-image: url("img/download.png");
}
.icon-map {
  background-image: url("img/map.png");
}
.icon-mapInner {
  background-image: url("img/mapInner.png");
}
.icon-fakecolor {
  background-image: url("img/fakecolor.png");
}
.icon-inv {
  background-image: url("img/inv.png");
}
.icon-refresh {
  background-image: url("img/refresh3.png");
}
.icon-pos {
  background-image: url("img/posLine.png");
}
.icon-zoomIn {
  background-image: url("img/zoomin.png");
}
.icon-zoomOut {
  background-image: url("img/zoomout.png");
}
.icon-glass {
  background-image: url("img/zoom.png");
}
.icon-scrollSync {
  background-image: url("img/scrollSync.png");
}
.icon-hRev {
  background-image: url("img/hRev.png");
}
.icon-vRev {
  background-image: url("img/vRev.png");
}
.icon-rulerR {
  background-image: url("img/ruler.png");
}
.icon-ct {
  background-image: url("img/ct.png");
}
.icon-eye {
  background-image: url("img/eye.png");
}
.icon-eye2 {
  background-image: url("img/eye2.png");
}
.icon-cancel {
  background-image: url("img/back.png");
}
.icon-pen {
  background-image: url("img/pen.png");
}
.icon-rect {
  background-image: url("img/rect.png");
}
.icon-angle {
  background-image: url("img/angle.png");
}
.icon-text {
  background-image: url("img/text.png");
}
.icon-line {
  background-image: url("img/line.png");
}
.icon-help {
  background-image: url("img/help.png");
}
.icon-left {
  background-image: url("img/left.png");
}
.icon-right {
  background-image: url("img/right.png");
}
.icon-img {
  background-image: url("img/img.png");
}
.icon-menu {
  background-image: url("img/menu.png");
}
.icon-ipacs {
  background-image: url("img/ipacs.png");
}
.icon-ipacsBlue {
  background-image: url("img/ipacsBlue.png");
}
.icon-mpr {
  background-image: url("img/mpr.png");
}
.icon-change {
  background-image: url("img/change.png");
}
.icon-close {
  background-image: url("img/close.png");
}
.icon-fwwwl1 {
  background-image: url("img/fwwwl1-1.png");
}
.icon-fwwwl2 {
  background-image: url("img/fwwwl2.png");
}
.icon-fwwwl3 {
  background-image: url("img/fwwwl3.png");
}
.icon-fwwwl4 {
  background-image: url("img/fwwwl4.png");
}
.icon-fwwwl5 {
  background-image: url("img/fwwwl5-1.png");
}
.icon-fullScreen {
  background-image: url("img/fullScreen.png");
}
.icon-mouse {
  background-image: url("img/mouse.png");
}
.icon-mouseL {
  background-image: url("img/mouseL.png");
}
.icon-mouseR {
  background-image: url("img/mouseR.png");
}
.icon-mouseLR {
  background-image: url("img/mouseLR.png");
}
.icon-pagingCircle {
  background-image: url("img/pagingCircle.png");
}
.icon-pointer {
  background-image: url("img/pointer.png");
}
#container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  width: 1000px;
  height: 700px;
}
body {
  background-color: black;
}
.dvContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #424242;
  box-sizing: border-box;
}
.dvContainer .viewer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.dvContainer .viewer .viewport {
  width: 100%;
  height: 100%;
  position: relative;
}
.dvContainer .viewer .seriesWindow {
  float: left;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.dvContainer .viewer .viewportWrapper {
  float: left;
  box-sizing: border-box;
  position: relative;
}
.dvContainer .viewer .viewportWrapper .overlay {
  position: absolute;
  color: #44b9b1;
  font-size: 12px;
}
.dvContainer .viewer .fullScreen {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 15px;
  z-index: 4000;
}
.dvContainer .viewer .fullScreen span {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  width: 30px;
  height: 30px;
  color: white;
  line-height: 30px;
  text-align: center;
}
.viewer .imgGalleryBack {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
}
.viewer .imgGallery {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
}
.viewer .imgGallery .areaBox {
  float: left;
  position: relative;
  width: 33%;
  height: 120px;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
}
.viewer .imgGallery .imgBox {
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #8D9192;
  position: relative;
  width: 100px;
  height: 100px;
}
.viewer .imgGallery .imgBox .img {
  height: 100%;
  width: 100%;
}
.viewer .imgGallery .imgBox .tag {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
}
.viewer .imgGallery .imgBox .tag > .right {
  display: inline-block;
  float: right;
  font-size: 12px;
  text-align: right;
  color: #3B9DFF;
}
.viewer .imgGallery .imgBox .tagL {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 50px;
}
.viewer .imgGallery .imgBox .tagL > .left {
  display: inline-block;
  float: left;
  font-size: 12px;
  text-align: left;
  color: #E6A300;
}
.viewer .pageBar {
  background-color: #0c0c0c;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.viewer .bottomPannel {
  width: 100%;
  height: 60px;
  background-color: #323232;
}
