* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
/*input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  border-radius: 10px; !*这个属性设置使填充进度条时的图形为圆角*!
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 10px; !*将轨道设为圆角的*!
  box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; !*轨道内置阴影效果*!
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  margin-top: -5px; !*使滑块超出轨道部分的偏移量相等*!
  background: #ffffff;
  border-radius: 50%; !*外观设置为圆形*!
  border: solid 0.125em rgba(205, 224, 230, 0.5); !*设置边框*!
  box-shadow: 0 .125em .125em #3b4547; !*添加底部阴影*!
}*/
.sliderBox {
  z-index: 30000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 200px;
  background-color: #00a379;
}
.sliderBox .slider {
  text-align: center;
  border: 1px #bababa solid;
  width: 100%;
  height: 20px;
  float: left;
  margin-top: 10px;
  background-color: #00a0e9;
}
.main {
  touch-action: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
  text-align: center;
}
.main .closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
}
.main .closeBtn img {
  width: 100%;
  height: 100%;
}
.main .closeBtn:hover {
  cursor: pointer;
}
.main .mprMainBox {
  width: 90%;
  background: #bf4055;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.main .mprMainBox .mprPatientInfoBox {
  width: 100%;
  height: 80px;
  background: #000000;
}
.main .mprMainBox .mprPatientInfoBox .topBox {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox {
  float: left;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .title {
  float: left;
  height: 40px;
  text-align: center;
  width: 40px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .title img {
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoLeftBox {
  float: left;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoLeftBox .txt {
  text-align: center;
  font-size: 14px;
  line-height: 80px;
  color: #e4ad00;
  display: inline-block;
  margin-right: 30px;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoRightBox {
  position: relative;
  width: 295px;
  float: right;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoRightBox .positionTxt {
  text-align: center;
  font-size: 14px;
  line-height: 80px;
  color: #b3b3b3;
  display: inline-block;
  margin-left: 20px;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoRightBox .wwwcBox {
  text-align: center;
  font-size: 14px;
  line-height: 80px;
  color: #b3b3b3;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoRightBox .wwwcBox .wwwcTxt {
  margin-left: 10px;
  float: right;
  display: inline-block;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoRightBox .wwwcBox .wwwcTxt .wwwcInput {
  margin-left: 3px;
  color: #ffffff!important;
  width: 40px!important;
  text-align: center;
  font-size: 14px;
  background-color: #262626;
  border: 1px solid #000111;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  display: inline-block;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoRightBox .wwwcBox .wwwcSet {
  float: right;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  color: #b3b3b3;
  display: inline-block;
  width: 20px!important;
  height: 80px!important;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoRightBox .wwwcBox .wwwcSet img {
  margin-top: 30px;
  line-height: 80px;
  width: 20px!important;
  height: 20px!important;
}
.main .mprMainBox .mprPatientInfoBox .topBox .infoBox .infoRightBox .wwwcBox .wwwcSet:hover {
  cursor: pointer;
}
.main .mprMainBox .mprImgBox {
  box-sizing: border-box;
  position: relative;
  background: burlywood;
  width: 100%;
  height: 100%;
  border: 2px #ffffff solid;
}
.main .mprMainBox .mprImgBox .changeLocationBox {
  z-index: 4;
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: auto;
  height: 30px;
  /* .swapBtn,.centerBtn,.originBtn，.playBtn, .stopBtn{
          margin-left: 3px;
          margin-right: 3px;
          text-align: center;
          float: left;
          color: #00a379;
          width: auto;
          height: 30px;
          border-radius: 2px;
          &:hover{
            background-color: #00a379;
            color: black;
          }
        }*/
  /*    .swapBtn{
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
        .centerBtn{
          position: absolute;
          bottom: 10px;
          left: 100px;
        }
        .originBtn{
          position: absolute;
          bottom: 10px;
          left: 50px;
        }*/
}
.main .mprMainBox .mprImgBox .changeLocationBox .btn {
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  float: left;
  color: #11f0c3;
  width: auto;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  opacity: 0.6;
  border: 1px black solid;
}
.main .mprMainBox .mprImgBox .changeLocationBox .btn:hover {
  opacity: 1;
  color: white;
  border: 1px #00bc8c solid;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#00bc8c), to(#11f0c3));
}
.main .mprMainBox .mprImgBox .changeLocationBox .playTool {
  display: none;
}
.main .mprMainBox .mprImgBox .rotateBox {
  z-index: 4;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 205px;
  height: 30px;
  /* .rotateBtn{
          color: #00a379;
          width: 100%;
          height: 100%;
          opacity: 0.4;
          img{
            pointer-events: none;
            draggable: false;
            width: 100%;
            height: 100%;
          }
          &:hover{
            opacity: 1;
          }
        }
        .rotateDirectBtn{

          position: absolute;
          right: 0px;
          bottom: 0px;

          z-index: 5;
          width: 30px;
          height: 30px;
          margin: 25px 25px 25px 25px;
          opacity: 0.4;
          &:hover{
            opacity: 1;
          }
          img{
            pointer-events: none;
            draggable: false;
            width: 100%;
            height: 100%;
          }

        }*/
}
.main .mprMainBox .mprImgBox .rotateBox .rotateBtn {
  float: right;
  width: 170px;
  height: 100%;
  opacity: 0.4;
  z-index: 5;
}
.main .mprMainBox .mprImgBox .rotateBox .rotateBtn:hover {
  opacity: 1;
}
.main .mprMainBox .mprImgBox .rotateBox .rotateDirectBtn {
  float: left;
  width: 30px;
  height: 30px;
  opacity: 0.4;
}
.main .mprMainBox .mprImgBox .rotateBox .rotateDirectBtn img {
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprImgBox .rotateBox .rotateDirectBtn:hover {
  opacity: 1;
}
.main .mprMainBox .mprImgBox .wrapperBox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: calc(100% -  2px);
  height: calc(100% -  2px);
  background-color: cornflowerblue;
}
.main .mprMainBox .mprImgBox .wrapperBox .viewportWrapper {
  position: relative;
}
.main .mprMainBox .mprImgBox .wrapperBox .viewportWrapper .max,
.main .mprMainBox .mprImgBox .wrapperBox .viewportWrapper .min {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  z-index: 9;
}
.main .mprMainBox .mprImgBox .wrapperBox .viewportWrapper .max img,
.main .mprMainBox .mprImgBox .wrapperBox .viewportWrapper .min img {
  margin: 1px;
  width: 18px;
  height: 18px;
}
.main .mprMainBox .mprImgBox .wrapperBox .viewportWrapper .max:hover,
.main .mprMainBox .mprImgBox .wrapperBox .viewportWrapper .min:hover {
  background-color: #32bc98;
}
.main .mprMainBox .mprImgBox .wrapperBox .leftBox {
  float: left;
  width: 66%;
  height: 100%;
}
.main .mprMainBox .mprImgBox .wrapperBox .leftBox .axialWrapper {
  border-right: 1px #ffffff solid;
  width: calc(100% -  1px);
  height: 100%;
}
.main .mprMainBox .mprImgBox .wrapperBox .leftBox .axialWrapper .viewport {
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprImgBox .wrapperBox .rightBox {
  float: right;
  width: 34%;
  height: 100%;
}
.main .mprMainBox .mprImgBox .wrapperBox .rightBox .cornoalWrapper {
  border-top: 1px #ffffff solid;
  border-left: 2px #ffffff solid;
  float: left;
  width: calc(100% -  2px);
  height: calc(50% -  1px);
}
.main .mprMainBox .mprImgBox .wrapperBox .rightBox .cornoalWrapper .viewport {
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprImgBox .wrapperBox .rightBox .sagittalWrapper {
  border-bottom: 1px #ffffff solid;
  border-left: 2px #ffffff solid;
  float: left;
  width: calc(100% - 2px);
  height: calc(50% - 1px);
}
.main .mprMainBox .mprImgBox .wrapperBox .rightBox .sagittalWrapper .viewport {
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprImgBox .wrapperBox .active {
  border: 1px #00bc8c solid;
}
.main .mprMainBox .mprImgBox .magnifyBox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: calc(100% -  2px);
  height: calc(100% -  2px);
}
.main .mprMainBox .mprImgBox .magnifyBox .min {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  z-index: 11;
}
.main .mprMainBox .mprImgBox .magnifyBox .min img {
  margin: 1px;
  width: 18px;
  height: 18px;
}
.main .mprMainBox .mprImgBox .magnifyBox .min:hover {
  background-color: #32bc98;
}
.main .mprMainBox .mprImgBox .magnifyBox .magnifyViewportWrapper {
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprImgBox .magnifyBox .magnifyViewportWrapper .magnifyViewport {
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprImgBox .mask {
  background-color: darkgray;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprToolBox {
  z-index: 7;
  width: 100%;
  height: 90px;
  background: #000000;
  overflow-x: auto;
  overflow-y: hidden;
}
.main .mprMainBox .mprToolBox .btnBox {
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
.main .mprMainBox .mprToolBox .btnBox .toolM1 {
  display: none;
}
.main .mprMainBox .mprToolBox .btnBox .btn {
  float: left;
  height: 30px;
  color: #f5f7f6;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  margin: 30px 10px 0px 10px;
  padding-left: 18px;
  padding-right: 18px;
  border: 1px #ffffff solid;
  border-radius: 2px;
}
.main .mprMainBox .mprToolBox .btnBox .btn:hover {
  border: 1px #00bc8c solid;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#00bc8c), to(#11f0c3));
}
.main .mprMainBox .mprToolBox .btnBox .checked {
  border: 1px  #00bc8c  solid;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#00bc8c), to(#11f0c3));
}
