<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
<style>
   html,body,#page1{
       width:100% ;
       height:100%;
       margin:0;
   }
</style>
</head>
<body>
<!--<h2 th:text="${type}"></h2>-->
<div id="page1">
    <iframe align="center" width="100%" height="100%" th:src="${dicompage}"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
<!--<div id="page2">-->
    <!--<iframe align="center" width="100%" height="100%" src="../../engin/ipacsdvtab.html"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
<!--</div>-->
<!--<div id="page3">-->
    <!--<iframe align="center" width="100%" height="100%" src="../../engin/ipacsdvus.html"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
<!--</div>-->
</body>
</html>